# Workflow Examples

The purpose of this notebook is to organize the logic of how data is loaded, processed, and explored using both vanilla Python and the dbdpy package. Additionally, this notebook should be used to test the functionalities of the package during development.

# Data Loading

This is the only section where each watch data will have their custom method for loading in the data. Once the data is formatted into the centralized data structure -- the rest of the workflow should be applied to the standardized format.

### Apple Watch

In [1]:
import pandas as pd
import xml.etree.ElementTree as etree

In [2]:
# Read in export.xml file
tree = etree.parse("data/apple/export.xml")
root = tree.getroot()
record_list = [x.attrib for x in root.iter("Record")]
record_df = pd.DataFrame(record_list)
record_df.head()

,type,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,device
0,HKQuantityTypeIdentifierHeight,ShunのiPhone,15.6.1,ft,2022-09-15 09:58:48 -0400,2022-09-15 09:58:48 -0400,2022-09-15 09:58:48 -0400,5.83333,NaN
1,HKQuantityTypeIdentifierBodyMass,ShunのiPhone,15.6.1,lb,2022-09-15 09:58:48 -0400,2022-09-15 09:58:48 -0400,2022-09-15 09:58:48 -0400,178,NaN
2,HKQuantityTypeIdentifierBodyMass,Health,15.6.1,lb,2022-11-13 21:38:37 -0400,2022-11-13 21:38:00 -0400,2022-11-13 21:38:00 -0400,180,NaN
3,HKQuantityTypeIdentifierBodyMass,Health,15.6.1,lb,2022-11-13 21:38:57 -0400,2022-11-13 21:42:00 -0400,2022-11-13 21:42:00 -0400,180,NaN
4,HKQuantityTypeIdentifierBodyMass,Health,15.6.1,lb,2022-11-13 21:39:44 -0400,2022-11-13 21:39:00 -0400,2022-11-13 21:39:00 -0400,180,NaN

In [3]:
### Parse record
# Set datetime to ISO 8601 format
datetime_cols = ["creationDate", "startDate", "endDate"]
record_df[datetime_cols] = record_df[datetime_cols].apply(lambda x: pd.to_datetime(x).dt.strftime("%Y-%m-%dT%H:%M:%S"))

# Convert values to numeric type
record_df["value"] = pd.to_numeric(record_df["value"], errors="coerce")

# Shorten observation names
record_df["type"] = record_df["type"].str.replace("HKQuantityTypeIdentifier", "")
record_df["type"] = record_df["type"].str.replace("HKCategoryTypeIdentifier", "")

# De-identify souce name? 

# Remove unnecessary columns? 

energy = record_df[record_df["type"] == "BasalEnergyBurned"]
steps = record_df[record_df["type"] == "StepCount"]
distance = record_df[record_df["type"] == "DistanceWalkingRunning"]
oxygen = record_df[record_df["type"] == "OxygenSaturation"]
resting_heart_rate = record_df[record_df["type"] == "RestingHeartRate"]
heart_rate = record_df[record_df["type"] == "HeartRate"]
respiration_rate = record_df[record_df["type"] == "RespiratoryRate"]
sleep = record_df[record_df["type"] == "SleepAnalysis"]

### Garmin

## Using dbdpy

In [50]:
import importlib
from pathlib import Path
import dbdpy
from dbdpy import AppleWatch
importlib.reload(dbdpy)

In [51]:
filepath = Path("./data/apple/export.xml")
watch_data = AppleWatch.read_file(filepath)

In [52]:
watch_data.sleep

                  startDate              endDate  value
525930  2022-12-28T11:58:04  2022-12-28T12:22:34    NaN
525932  2022-12-28T12:22:34  2022-12-28T12:36:34    NaN
525933  2022-12-28T12:36:34  2022-12-28T12:56:04    NaN
525935  2022-12-28T12:56:04  2022-12-28T13:12:04    NaN
525936  2022-12-28T13:12:04  2022-12-28T13:29:04    NaN
...                     ...                  ...    ...
532623  2023-09-30T09:15:31  2023-09-30T09:19:31    NaN
532624  2023-09-30T09:15:31  2023-09-30T09:19:31    NaN
532625  2023-09-30T09:19:31  2023-09-30T09:21:31    NaN
532626  2023-09-30T09:21:31  2023-09-30T09:23:31    NaN
532627  2023-09-30T09:21:31  2023-09-30T09:23:31    NaN

[2869 rows x 3 columns]